body, html {
    height: 100%;
}

.bg { height: 100%;
    width: 100%;
    object-fit: cover !important;
    position: absolute;
    /* The image used */
    z-index: -1;
    /* Full height */ 
    filter: blur(8px);
    filter: brightness(.1);
    -webkit-filter:brightness(.1);
  -webkit-filter: blur(5px);
 
    
}
